[submodule "clang"]
	path = clang
	url = http://llvm.org/git/clang.git
[submodule "klee"]
	path = klee
	url = http://llvm.org/git/klee.git
[submodule "llvm"]
	path = llvm
	url = http://llvm.org/git/llvm.git
